<footer>
    <div>
        <img src="Img/pagos.jpg" alt="">
      </div> 
    <nav>
      <div>
      <p>Seguinos en nuestras redes</p>
    </div>
    <div>
      <i class="fab fa-instagram"><a href="https://www.instagram.com/"></a></i>
    
      <i class="fab fa-facebook-square"><a href="https://www.facebook.com"></a> </i>
    
      <i class="fab fa-youtube"><a href="https://www.youtube.com/"></a></i>
    </div>
    </nav>
    <article class="copyright">
      <p>©2017 Almacen Francisco S.R.L - Política de privacidad - Terminos y condiciones
        Dirección General de Defensa y Protección al Consumidor.</p>
    </article>
 </footer>