<header class="top-header">
    <div class="menu">
      <i class="fas fa-bars"></i>
      <h6>Menu</h6>
    </div>
    <div>
      <a href="/"><img src="/Img/Logo_Almacen_Francisco_500x500.jpg" class="logo"></a>
    </div>
    <div class="search">
      <form class="example" method="GET" action="action_page.php">
        <input type="text" placeholder="Que estas buscando.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
    <div class="icono">
      <a href="/users/login"><i class="fas fa-sign-in-alt"></i></a>
      <h6>Ingresa</h6>
    </div>
    <div class="icono">
      <a href="/users/register"><i class="far fa-list-alt"></i></a>
      <h6>Registrate</h6>
    </div>
    <div class="icono2">
      <a href="/products/productCart"><i class="fas fa-shopping-cart"></i></a>
      <h6>Carrito</h6>
    </div>
  </header>    