<header class="top-header">
    <div class="menu">
      
         
          <a href="#"><i class="fas fa-bars"></i>
            <h6>Menu</h6></a>
            
          
</div>
    <div>
      <a href="/"><img src="/Img/logo_ almacen _francisco 500x500.png" class="logo"></a>
    </div>
    <div class="search">
      <form class="example" method="GET" action="/product/id">
        <input type="text" placeholder="Que estas buscando.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
    <div class="icono">
      <a href="/users/login"><i class="fas fa-sign-in-alt"></i></a>
      <h6>Ingresa</h6>
    </div>
    <div class="icono">
      <a href="/users/register"><i class="far fa-list-alt"></i></a>
      <h6>Registrate</h6>
    </div>
    <div class="icono2">
      <a href="/products/cart"><i class="fas fa-shopping-cart"></i></a>
      <h6>Carrito</h6>
    </div>
  </header>    