<section class="product">
    <h3>SECCIONES</h3>
    <article>
      <a href="/products/category/despensa"><img src="/Img/despensa.JPG" alt="despensa" class="product_img" ></a>
           
    </article>
    <article>
      <a href="/products/category/bebidas"><img src="/Img/bebidas.JPG" alt="bebidas" class="product_img"></a>
           
    </article>

    <article>
      <a href="/products/category/mascotas"><img src="/Img/mascotas.JPG" alt="mascotas" class="product_img"></a>
            
    </article>

    <article>
      <a href="/products/category/bebes"><img src="/Img/bebes.JPG" alt="bebes" class="product_img"></a>
           
    </article>
    <article>
      <a href="/products/category/cuiper"><img src="/Img/personal.JPG" alt="personal" class="product_img"></a>
           
    </article>
    <article>
      <a href="/products/category/limpieza"><img src="/Img/limpieza.JPG" alt="polenta" class="product_img"></a>
           
    </article>
  </section>