*
  
  {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.titleForm{
  font-size: .5em;
  text-align: center;
  color: #fff;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #000;
  margin-top: 15px;
  font-size: 2em;
}
h1 a img{
    width: 20%;
}

.cont-form {
  width: 500px;
  max-width: 100%;
  margin: auto;
  margin-top: 30px;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0 0 100px 13px rgba(255,255,255,0.3);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-titulo {
  padding: 20px 10px;
  width: 100%;
  text-align: end;
  vertical-align: center;
  margin: auto;
  background-color: rgb(9, 72, 153);
  color:rgb(219, 219, 219);
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  border-bottom: 5px solid rgb(235, 114, 5);
  display: flex;
  justify-content: space-between;
}

.form-input {
  padding: 20px;
  background: rgba(0,0,0,0.1);
  border: 1px solid rgba(0,0,0,0.3);
  margin: 10px 10px;
}

.separacion20{
  margin-top: 30px;
}

.ancho48{
  width: 46%;
}

.ancho95{
  width: 97%;
}

.form-input:focus {
  outline: inside 1px solid;
}

.form-input:focus::-webkit-input-placeholder{
 transform: scale(1.15);
 padding-left: 25px;
  padding-right: 25px;
  text-align: right;
  text-shadow: 2px 2px 2px;
}

.form-submit {
  background: rgba(30,20,14,0.7);
  color: white;
  padding: 10px 20px;
  margin: 20px;
  cursor: pointer;
  border: none;
}

p{
  font-size: 0.9rem;
  text-align:center;
  margin: auto;
}



/*============================================RESPONSIVE==============================================*/

@media(max-width: 520px){
 

  .titleForm{
    font-size: 2rem;   
  }
  
  .cont-form {
    width: 450px;
    display: block;
  }
  
  .ancho48{
  width: 95%;
  }

.ancho95{
  width: 95%;
  }

  .form-submit{
    width: 85%;
    padding: 9px 7px;
  }
  p{
    font-size: .45em;
    padding-bottom: 10px;
  }
  
}