body section{
  margin-top: 15%;
  background-color: rgb(219, 219, 219);
}

.titleForm{
  font-size: .5em;
  text-align: center;
  color: #fff;
}


h1 a img{
    width: 20%;
}

.cont-form {
  width: 500px;
  max-width: 100%;
  margin: auto;
  margin-top: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 7px;
  box-shadow: 0 0 100px 13px rgba(255,255,255,0.3);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-titulo {
  padding: 20px 10px;
  width: 100%;
  text-align: end;
  vertical-align: center;
  margin: auto;
  background-color: rgb(9, 72, 153);
  color:rgb(219, 219, 219);
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  border-bottom: 5px solid rgb(235, 114, 5);
  display: flex;
  justify-content: space-between;
}

.form-input {
  padding: 20px;
  background: rgb(219, 219, 219);
  border: 0px solid rgba(0,0,0,0.3);
  margin: 5% 10%;
  border-radius: 3px;
}

.separacion20{
  margin-top: 30px;
}

.ancho48{
  width: 46%;
}

.ancho95{
  width: 97%;
}

.form-input:focus {
  outline: inside 1px solid;
}

.form-input:focus::-webkit-input-placeholder{
 transform: scale(1.15);
 padding-left: 25px;
  padding-right: 25px;
  text-align: right;
  text-shadow: 2px 2px 2px;
}

.form-submit {
  background: rgb(9, 72, 153);
  color: rgb(219, 219, 219);
  padding: 10px 20px;
  margin: 5%;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

p{
  font-size: 0.9rem;
  text-align:center;
  margin: auto;
}
.title{
  font-size: x-large;
    
    text-align: center;
}


/*============================================RESPONSIVE==============================================*/

@media(max-width: 520px){
 

  .titleForm{
    font-size: 2rem;   
  }
  
  .cont-form {
    width: 450px;
    display: block;
  }
  
  .ancho48{
  width: 95%;
  }

.ancho95{
  width: 83%;
  }

  .form-submit{
    width: 85%;
    padding: 9px 7px;
    margin: 10%;
  }
  p{
    font-size: .45em;
    padding-bottom: 10px;
  }
  
}
@media (min-width: 1200px){
  body section {
    margin: 0%;
  }
}