*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body{
  font-family: 'Roboto', sans-serif;
  background-color: rgb(219, 219, 219) ;
 }
 .main-header{
    background-color: rgb(9, 72, 153) ;
    padding: 20px;
 }
 .hamburguer-button{
   background-color:rgb(235, 114, 5);
   color: rgb(219, 219, 219);
   display: block;
   max-width: 50px;
   padding: 15px 0;
   border-radius: 8px;
   text-align: center;
   font-size: 18px;
   margin: auto;
 }
 .logo{
   width: 200px;
   margin-left: 25%;
 }
 
 
 main{
  width: 90%;
  margin: 0 auto;
}
/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background:rgb(235, 114, 5);
  color: white;
  font-size: 17px;
  border: 1px solid rgb(219, 219, 219);
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: rgb(235, 114, 5);
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}
.btn{
  background-color: rgb(235, 114, 5);
}
main section h3 {
  margin: 20px 0px;
}
h3{
  color: rgb(87, 127 , 175);
  font-size: 24px;
}
main section article{
  
  margin: 10px 0px;
  
}
main section article img{
  display: block;
  width: 100%;
}
.section{
  display: block;
}
.tarjetas{
  display: flex;
  font-size: 300%;
  justify-content: space-between;
  align-items: center;
}
.redes{
   display: flex;
  font-size: 200%;
  justify-content: space-around;
  align-items: center;
}
.banner{
  display: none;
}
h4{
  text-align: center;
  color: rgb(9, 72, 153);
}
.image{
  display: none;
}


 @media (min-width: 768px){
  .logo{
    margin-left: 0px;
  }
.main-header-top-bar{
  
  display: flex;
  justify-content: space-between;
}
  .copy-header{
    max-width: 350px;
    text-align: right;
      }
      .hamburguer-button{
        display: none;
      }
      .main-navbar{
        display: flex;
        justify-content: space-between;

      }
      .main-navbar ul {
        display: flex;
      }
      .main-navbar li {
        margin: 0 5px;
        font-size: 18px;
        
      }
      .section{
        display: flex;
        justify-content: space-between;
        align-items: center;
               
      }
      
      
      .article{
        flex-grow: 1;
        padding: 10px;
      }
      .search{
        align-self: center;
      }
      .btn {
        background-color:rgb(235, 114, 5); /* Blue background */
        border: none; /* Remove borders */
        color:rgb(219, 219, 219); /* White text */
        padding: 12px 16px; /* Some padding */
        font-size: 16px; /* Set a font size */
        cursor: pointer; /* Mouse pointer on hover */
      }
      
      /* Darker background on mouse-over */
      .btn:hover {
        background-color: RoyalBlue;
      }
      .banner{
        display: flex;
        visibility: visible;
        align-items: center;
      }
     .tarjetas{
      display: none;
     }
     .redes{
       font-size: 300%;
       color: rgb(235, 114, 5);
     }
     .slidebar{
      padding: 50px;
      width: 600px;
    }
 }
 

 @media (min-width: 1200px){
   .logo{
     width: 75px;     
    margin-left: 0px;
    
   }
.main-header-top-bar. .main-navbar{
  max-width: 1200px;
  margin: auto;
}
.main-header-top-bar{
  align-items: center;
  
}
.copy-header{
  max-width: none;
  font-weight: 400;
  font-size: 22;
  margin: 0;
  
    }
  .main-navbar{
    margin-top: 40px;
    }
.main-navbar li {
  margin: 0 10px;
}
.main-navbar a {
  font-size: 19px;

}
.bo{
  flex-wrap: 1;
}


.section{
  display: flex;
  justify-content: space-between;
  align-items: center;
         
}
.article{
  flex-grow: 1;
  padding: 10px;
}


.redes{
  color: rgb(87, 127 , 175);
  display: flex;
  align-items: flex-start;
  font-size: 125%;
  justify-content: flex-end;
  -webkit-user-modify: read-write-plaintext-only;
  margin-right: 35px;
}
.footer{
  background-color: rgb(235, 114, 5);
  height: 80px;
  
}
.image{
  height: 30px;
  width: 30px;
  display: flex;
  margin-inline-end: auto;
  margin-left: 20px;
}
.copyright{
  text-align: center;
  color: rgb(9, 72, 153);
}
.slidebar{
  padding: 50px;
  width: 600px;
  margin-left: 25%;
  display: contents;
}
 }