*{
  box-sizing: border-box;   
  font-family: 'Roboto';
}
body{
  background-color: rgb(219, 219, 219);
  margin: 0%;
  
}



.top-header{
  background-color: rgb(9, 72, 153) ;
  height: 50px;
  display: flex;
}

.menu{
  padding: 5px;
  color: rgb(219, 219, 219);
  font-size: x-large;
  text-align: center;
  padding: 12px;
}


header div img{
   width: 35px;
   margin-top: 10px;
}
.search{
  width: 65vw;
}
form.example input[type=text] {
  padding: 10px;
  font-size: 15px;
  border: 0px solid grey;
  float: left;
  width: 66%;
  background:white;
  margin-top: 6px;   
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: white;
  color: rgb(219, 219, 219);
  font-size: 15px;
  border: 0px solid rgb(219, 219, 219);
  border-left: none;
  cursor: pointer;
  margin-top: 6px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  text-align: end;
}
.search{
  width: 65vw;
}
.icono{
  font-size: 25px;
  color: rgb(219, 219, 219);
  padding: 12px; 
  text-align: end;
}
a {
  color: rgb(219, 219, 219);
}
.carrusel{
  padding: 0px 15px;

}
main section h3{
  font-weight: bold;
  color: rgb(235, 114, 5);
  text-align: center;
}
/* Carrusel */

.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
max-width: 1000px;
position: relative;
margin: auto;
}

/* Caption text */
.text {
color: #f2f2f2;
font-size: 15px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

/* The dots/bullets/indicators */
.dot {
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active {
background-color: #717171;
}

/* Fading animation */
.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
}

.record{
  margin-left: 10%;
}

@-webkit-keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
.text {font-size: 11px}
}
main{
  width: 90%;
  margin: 0 auto;
}
.product{
  display: flex;
  flex-direction: row;
  justify-content: space-between;    
  flex-wrap: wrap;
}
main section h3{
  margin: 20px 0px;
  width: 100%;

}


main section article{
 
  margin: 10px 20px;
  width: 100%;
  text-align: center;
  -webkit-transition:all .9s ease; /* Safari y Chrome */
-moz-transition:all .9s ease; /* Firefox */
-o-transition:all .9s ease; /* IE 9 */
-ms-transition:all .9s ease; /* Opera */
width:100%;
}
main section article:hover{
  -webkit-transform:scale(1.25);
  -moz-transform:scale(1.25);
  -ms-transform:scale(1.25);
  -o-transform:scale(1.25);
  transform:scale(1.25);
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
main section article img{
  width: 100%;
}



main section div img{
width: 100%;
}
footer div img{
  width: 100%;
}
footer nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;    
  flex-wrap: wrap;
  align-items: center;
  font-weight: bolder;
  background-color: rgb(9, 72, 153);
}
footer nav div{
  color: rgb(219, 219, 219);
margin: auto;
}
.icono2{
display: none;

}
footer article{
display: none;
}
.banner{
  padding-top: 10%;
  margin: 5%;
}
footer{
  
}

@media (min-width: 768px){
header div{
margin-left: auto;
}
.icono2{
font-size: 25px;
  color: rgb(219, 219, 219);
  padding: 12px; 
  display: block;
  text-align: end;
}
main section article{
  width: 33%;
 
}
.product{
  justify-content: space-evenly;
}
footer article{
display: block;
color: rgb(87, 127, 175);
font-size: small;
}
}
@media (min-width: 1200px){
.top-header{
  height: 100px;
  padding-top: 1%;
}
header div img{
  width: 75px;
  margin-top: -8px;
}
h6{
  color: rgb(219, 219, 219);
  margin-top: auto;
  
}
.icono{
  padding: 0px;
  text-align: center;
}
.icono2{
  padding: 0px;
  margin-right: auto;
  text-align: center;
}
main section h3{
  width: 100%;
}
main section article{
  width: 25%;
  padding-right: 0%;
}
footer article{
  text-align: center;
}

}