/**
 * Este este es un archivo de Hoja de estilo en cascada CSS
 * @CSS Cascading Style Sheets
 * @Año 2020
 * @link https://github.com/dcornejofmq/grupo_3_almacenFrancisco
 */

@charset "UTF-8";

/*  el * al inicio de la siguiente linea indica que es el selector universal
"Selecto Universal" --> lo que coloquemos aqui se aplica a todo el documento html */



body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
