<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %> 
<body>
  <%- include('./partials/header.ejs') %>
    
        
     <section>
      <h1 class="title"><strong>Bienvenido</strong></h1>
      <article>      

        <form action="" class="cont-form" method = "post">
     <input type="text" class="form-input ancho95" name="user" id="user" placeholder = "Nombre de Usuario" required>
     <input type="password" class="form-input ancho" name="password" id="password" placeholder = "Contraseña" required>

       <p class="recovery"><a href="#">Olvidaste tu Password?</a></p>

       <input type="submit" value="Iniciar Sesion" class="formsubmit">
      </form>
    </article>

  </section>
    
    <%- include('./partials/footer.ejs') %>
</body>
</html>