<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 

<body>
    <%- include('./partials/header.ejs') %>
    <main class="cart">
        <h4>Carrito de Compras</h4>
        <section>
            <form action="cartproduct">
            <div class="line">
                
            </div>
            <article class="art">
                <div class="item">
                <a class="img" href="/productDetail"><img src="/Img/arroz.png" alt="arroz" width="100px"></a>
                <h6 class="h6">Arrroz Gallo X 500g</h6>
                </div>
            
                
            </article>
            <div class="line">
                
            </div>
            <article class="product">
                <div class="item-1">
                    <img src="/Img/aceite.webp" alt="arroz" width="100px" height="95px">
                    
                    </div>
                </div>
                <div class="description">
                <p>Aceite Cañuelas</p>
                </div>
                    <div class="item-2">
                        <p>Cantidad</p>
                        <textarea name="cantidad" id="" cols="3" rows="1"></textarea>
                    </div>
                    <div class="precio">
                        <p>Precio</p>
                        <textarea name="cantidad" id="" cols="3" rows="1"></textarea>

                    </div>
            </article>
            <article class="product">
                <div class="item-1">
                    <img src="/Img/polenta.jpg" alt="arroz" width="100px" height="95px">
                    </div>
                </div>
                <div class="description">
                <p>Polenta Presto Pronta</p>
                </div>
                    <div class="item-2">
                        <p>Cantidad</p>
                        <textarea name="cantidad" id="" cols="3" rows="1"></textarea>
                    </div>
                    <div class="precio">
                        <p>Precio</p>
                        <textarea name="cantidad" id="" cols="3" rows="1"></textarea>

                    </div>
            </article>
            <article class="product">
                <div class="item-1">
                    <img src="/Img/fideo.jpg" alt="arroz" width="100px">
                    </div>
                    <div class="description">
                    <p>Fideos Matarazzo</p>
                    </div>
                    <div class="item-2">
                        <p>Cantidad</p>
                        <textarea name="cantidad" id="" cols="3" rows="1"></textarea>
                    </div>
                    <div class="precio">
                        <p>Precio</p>
                        <textarea name="cantidad" id="" cols="3" rows="1"></textarea>

                    </div>
            </article>
            <div class="total">
                <h3>Importe Total</h3>
                <textarea name="cantidad" id="" cols="8" rows="1"></textarea>
            </div>
            <article class="submit">
                <button class="btn-borde" type="submit">Finalizar Compra</button>
              </article>
            </form>
        </section>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>
</html>