<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %> 
<body>
  <%- include('./partials/header.ejs') %>

    <main>
      <section>
      <article>
        <img src="Img/arroz.jpg" alt="arroz" >
        <div>
          <p class="ofer">Oferta $45</p>
          <p class="discount">Descuento 15% Off</p>
        </div>
        <form action="cantidad">
          <label class="many">Ingrese Cantidad</label>
          <input type="number" min="0" max="100"  value="cant" />
        </form>
        <div class="add">
        <button type="submit"> Agregar</button>
      </div>
      </article>
      <span>
        <h2>Descripcion</h2>

<table>
  <tr>
    <th>Caracteristicas</th>
    <th>Informacion</th>
  </tr>
  <tr>
    <td>Peso</td>
    <td>500G</td>
  </tr>
  <tr>
    <td>Tipo</td>
    <td>Paquete</td>

  </tr>
  <tr>
    <td>Marca</td>
    <td>Gallo</td>
    
  </tr>
</table>
          
      </span>





    </section>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>
</html>
