<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/header.ejs') %>
    <main class="cart">
        
        <h4>Listado de Productos</h4>

              
        <div class="cartform">
           
            <div class="line">
                
            </div>
            <article class="art">
                <div class="item">
               
                <a class="img" href="/productDetail"><img src="/Img/arroz.png" alt="arroz" width="100px"></a>
                    </div>
                    <div  class="item-2">
                <h4>Arrroz Gallo X 500g</h4>
                </div>
                <div class="item-3">
                    <h4>Cantidad</h4>
                        <textarea name="cant" id="" cols="3" rows="1"></textarea>
                </div>
                <div class="item-4">
                    <h4>Precio</h4>
                        <textarea name="price" id="" cols="3" rows="1"></textarea>

                </div>
                
            </article>
            <div class="line">
                
            </div>
            
    </div>
    
</main>



    <%- include('./partials/footer.ejs') %>
</body>
</html>