<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/productDetail.css">    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Detalle Producto</title>
</head>
<body>
  <header class="main-header">
    <div>
      <form action="/">     
      <button class="btn-borde"><i class="fas fa-home"></i>Home</button>
    </form>  
    </div>    
    </header>

    <main>
      <section>
      <article>
        <img src="Img/arroz.jpg" alt="arroz" width="100px">
        <div>
          <p class="ofer">Oferta $45</p>
          <p class="discount">Descuento 15% Off</p>
        </div>
        <form action="cantidad">
          <label class="many">Ingrese Cantidad</label>
          <input type="number" min="0" max="100"  value="cant" />
        </form>
        <div class="add">
        <button type="submit"> Agregar</button>
      </div>
      </article>
      <span>
        <h2>Descripcion</h2>

<table>
  <tr>
    <th>Caracteristicas</th>
    <th>Informacion</th>
  </tr>
  <tr>
    <td>Peso</td>
    <td>500G</td>
  </tr>
  <tr>
    <td>Tipo</td>
    <td>Paquete</td>

  </tr>
  <tr>
    <td>Marca</td>
    <td>Gallo</td>
    
  </tr>
</table>
          
      </span>





    </section>
    </main>
</body>
</html>
