<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/productCart.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Carrito de Compras</title>
</head>

<body>
    <header class="main-header">
        <div>
          <form action="/">     
          <button class="btn-borde"><i class="fas fa-home"></i>Home</button>
        </form>  
        </div>
        <div class="dirCart">
          <form action="/register">
          <button class="btn-borde"><i class="fas fa-address-book"></i>Registrarse</button>
        </form>
        </div>
        <div class="login">
          <form action="/login">
          <button class="btn-borde"><i class="fas fa-sign-in-alt"></i>Ingresar</button>
        </form>
        </div>
      </header>
    <main>
        <h4>Productos</h4>
        <section class="cart">
            <article class="product">
                <div class="item-1">
                <a href="/productDetail"><img src="Img/arroz.jpg" alt="arroz" width="100px"></a>
                </div>
            
            <div class="description">
            <p>Arroz Gallo</p>
            </div>
                <div class="item-2">
                    <p>Cantidad</p>
                    <textarea name="cantidad" id="" cols="3" rows="1"></textarea>
                </div>
                <div class="precio">
                    <p>Precio</p>
                    <textarea name="cantidad" id="" cols="3" rows="1"></textarea>

                </div>
            </article>
            
            <article class="product">
                <div class="item-1">
                    <img src="Img/aceite.webp" alt="arroz" width="100px" height="95px">
                    </div>
                </div>
                <div class="description">
                <p>Aceite Cañuelas</p>
                </div>
                    <div class="item-2">
                        <p>Cantidad</p>
                        <textarea name="cantidad" id="" cols="3" rows="1"></textarea>
                    </div>
                    <div class="precio">
                        <p>Precio</p>
                        <textarea name="cantidad" id="" cols="3" rows="1"></textarea>

                    </div>
            </article>
            <article class="product">
                <div class="item-1">
                    <img src="Img/polenta.jpg" alt="arroz" width="100px" height="95px">
                    </div>
                </div>
                <div class="description">
                <p>Polenta Presto Pronta</p>
                </div>
                    <div class="item-2">
                        <p>Cantidad</p>
                        <textarea name="cantidad" id="" cols="3" rows="1"></textarea>
                    </div>
                    <div class="precio">
                        <p>Precio</p>
                        <textarea name="cantidad" id="" cols="3" rows="1"></textarea>

                    </div>
            </article>
            <article class="product">
                <div class="item-1">
                    <img src="Img/fideo.jpg" alt="arroz" width="100px">
                    </div>
                    <div class="description">
                    <p>Fideos Matarazzo</p>
                    </div>
                    <div class="item-2">
                        <p>Cantidad</p>
                        <textarea name="cantidad" id="" cols="3" rows="1"></textarea>
                    </div>
                    <div class="precio">
                        <p>Precio</p>
                        <textarea name="cantidad" id="" cols="3" rows="1"></textarea>

                    </div>
            </article>
            <div class="total">
                <h3>Importe Total</h3>
                <textarea name="cantidad" id="" cols="8" rows="1"></textarea>
            </div>
            <article class="submit">
                <button class="btn-borde" type="submit">Finalizar Compra</button>
              </article>
        </section>
    </main>
</body>
</html>