<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/header.ejs') %>
    <article>

    <div>
        <img src="/grupo_3_almacenFrancisco/app/public/Img/aceite.webp" alt="">
    </div>
    </article>




    <%- include('./partials/footer.ejs') %>
</body>
</html>